{% extends 'base.html' %}
{% block container %}
    <h1>{{ movie.title }}</h1>
    <p>관객수: {{ movie.audience }}</p>
    <p>장르: {{ movie.genre }}</p>
    <p>평점: ★{{ movie.score }}</p>
    <p>{{ movie.poster_url }}</p>
    <p>줄거리: {{ movie.description }}</p>
    <a href='{% url 'movies:list' %}'>목록</a>
    <a>수정</a>
    <a href='{% url 'movies:delete' movie.id %}'>삭제</a>
    
    {% if user.is_authenticated %}
    <div>
        <form action="{% url 'movies:score_new' movie.id %}" method='POST'>
            {% csrf_token %}
            {{ scoreform }}
            <input type="submit" value="Submit"/>
        </form>
    </div>
    {% endif %}
    
    <p>평점 목록</p>
    {% for score in movie.score_set.all %}
    <p><strong>{{ score.user.username }}</strong> {{ score.content }} ★{{ score.score }}</p>
    {% if user == score.user %}
        <a href='{% url 'movies:score_delete' movie.id score.id %}'>삭제</a>
    {% endif %}
    {% endfor %}
{% endblock %}